@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "interbold";
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "mont";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

.locat_container {
  display: flex;

  background: #0b0c0e;
  border-radius: 40px;
  padding: 40px;
}
.location_left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.headl {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.locationhead,
.locationhead > span {
  font-family: "interbold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;

  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

.locationhead > span {
  color: #e74011;
}
.conthes {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Grey 24% */

  color: #c2c2c3;
}
.contdes {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 30px;
  color: #ffffff;
}
.location_right > iframe {
  border-radius: 32px;
  width: 100%;
  height: 100%;
}
.contat {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
}
.location_right {
  width: 100%;
}
.location_right > iframe {
  width: 100%;
}

@media (max-width: 1024px) {
  .locationhead,
  .locationhead > span {
    font-size: 60px;
    line-height: 68px;
  }
}

@media (max-width: 768px) {
  .locat_container {
    flex-wrap: wrap;
    padding: 24px 18px;
  }

  .headl {
    font-size: 12px;
    line-height: 32px;
  }
  .locationhead,
  .locationhead > span {
    font-size: 28px;
    line-height: 32px;
  }

  .conthes {
    font-size: 12px;
    line-height: 15px;
  }
  .contdes {
    font-size: 18px;
    line-height: 32px;
  }

  .contat {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
  }
}
