@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "interbold";
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "mont";
  src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

.sh {
  font-family: "interbold";
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
  margin-bottom: 8px !important;
}
.header_s,
.header_sred {
  font-family: "interbold";
  font-style: normal;
  color: white;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
}
.header_sred {
  color: #e74011;
}
.operate_s {
  color: white;
  font-family: "inter";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 40px !important;
}
.service_left {
  width: 100%;
  border-radius: 40px;
}
.service_left > img {
  width: 100%;
}
.service_right {
  width: 100%;
}
.accordion-button:not(.collapsed) {
  box-shadow: unset !important;
}
.accordion {
  --bs-accordion-bg: unset !important;
}

.trp {
  font-family: "interbold";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: white;
}
.r_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serv_desc {
  width: 700px;
  height: 320px;
  margin-top: 40px;
  display: none;
}
.serv_desc > p {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: white;
  margin-bottom: 10px;
}
.show {
  display: block;
}
.service_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 24px;
}
.accordion-button::after {
  display: none;
}
.accordionhe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.accordion-body {
  font-family: "inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  padding: 24px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion-button {
  background-color: black !important;
  display: flex;
  color: white !important;
  justify-content: space-between;
  align-items: center;
  border: none !important;
  border-color: none;

  font-family: "interbold" !important ;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 32px !important;
  line-height: 48px !important;
  padding: 0 !important;
}
.accordion-button:not(.collapsed) {
  color: black;
  box-shadow: none;
}
.accordion-item {
  border: unset !important;
  border-bottom: 1px solid #696969 !important;
  padding: 40px 0;
}

.accordion-button.collapsed svg {
  transform: rotate(0deg);
}
.accordion-button svg {
  transform: rotate(90deg);
  transition: 0.3s;
}
.accordion-button:focus {
  box-shadow: none !important;
  color: white !important;
}
.accordion-body {
  background-color: black !important;
  color: white !important;
}
@media (max-width: 768px) {
  .service_bottom {
    display: block;
    gap: 24px;
  }
  .accordion-body {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .accordion-button {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .accordion-button > svg {
    max-width: 24px !important;
    height: 24px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .header_s,
  .header_sred {
    font-size: 28px;
    line-height: 32px;
  }
  .operate_s {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px !important;
  }
  .sh {
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 14px !important;
  }

  .service_left {
    width: 100%;

    border-radius: 40px;
  }
  .trp {
    font-size: 24px;
    line-height: 32px;
  }
}
